!!! 5
%html{:lang => "en"}
	%head
		%meta{:charset => "utf8"}
		%meta{:content => "to fill in", :name => "description"}
		%meta{:content => "", :name => "author"}

		%title Posting to Twitter

		/[if lt IE 9]
			%script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}

		%link{:rel => "stylesheet", :href => "css/bootstrap.css"}
		%link{:rel => "stylesheet", :href => "style.css"}

	%body
		%nav.container
			%h1
				Postear
		-5.times do
			%br
		%section.container
			%form{:name => "selectprovider", :action => "/postear", :method => "POST"}
				%label.checkbox
					%input#twitter{:type => "checkbox", :name => "twitter"} twitter
				- @person.each do |person|
					%label.checkbox.inline
						%input#facebook{:type => "checkbox", :name => person.itemId} 
							= person.name.join

				-2.times do
					%br
				%textarea#msg{:rows => 5, :name => "message"}
				-2.times do
					%br
				%input.btn.btn-primary{:type => "submit"}

		%script{:type => "text/javascript", :src => "js/jquery.js"}
		%script{:type => "text/javascript", :src => "js/test.js"}
